/* ==UserStyle==
@name           Dark Rolling Stone
@namespace      gitlab.com/awebeer256/stylus
@version        0.6.0
@homepageURL    https://gitlab.com/awebeer256/dark-modes
@updateURL      https://gitlab.com/awebeer256/dark-modes/-/raw/master/dark-rolling-stone.user.css
@license        MIT
@description    Dark Mode for Rolling Stone's website
@author         Adam Beer
@preprocessor   less
@advanced color bg-colour "Background Colour" #121212
@advanced color txt-colour "Text Colour" #DDD
==/UserStyle== */

@-moz-document domain("rollingstone.com") {
	//pages: home, article, category
	
    :root {
        @bg-colour: /*[[bg-colour]]*/;
        @txt-colour: /*[[txt-colour]]*/;
    }

    //for some reason these can't go in :root
    @bg-layer1: lighten(@bg-colour, 7.5%);
	@bg-layer2: lighten(@bg-layer1, 7.5%);
	@darkest: darken(@bg-colour, 7.5%);
    @txt-faded: darken(@txt-colour, 40%);
	@border-col: lighten(@bg-colour, 30%);
	@border-width: 1px;
    
	//Basics
    body, .l-header__tip-link, .c-cover__login-link, input:is([type="reset"], [type="button"], [type="submit"]), .is-search-expandable [data-st-search-form] [type="text"], .l-page, .l-header__wrap, .l-header__search, .is-search-expandable [data-st-search-form] .autocomplete, .c-hamburger, .l-header__menu-link, .c-breadcrumbs__link, .c-byline__by, .c-trending--sidebar, .c-trending--sidebar .c-trending__caption, .c-trending--sidebar::after, .c-trending--sidebar::before, .l-header__block--read-next, .c-picture__title, .c-content, .c-tags, .c-post-actions__newsletter, .c-section-header, .c-section-header__btn, .c-section-header__heading, .c-pmc-footer, .c-pmc-footer__dropdown, .c-pmc-footer__dropdown-contents, .c-pmc-footer__brand, .c-the-list, .c-reviews__label, .c-columnists, .c-testimonial__main, .c-testimonial__header::after, .c-testimonial__header::before, [data-line-menu] .line-menu-indicator, .c-close-button::after, .c-close-button::before {
        color: @txt-colour;
        background-color: @bg-colour;
    }
	
	.c-card__tag, .c-card__wrap, .c-mega-nav__link {
		color: @txt-colour;
	}
	
	@media(min-width: 78.75rem) {
		.c-columnists__label {
			color: @txt-colour;
        	background-color: @bg-colour;
		}
	}
	
	@media(min-width: 60rem) {
		.c-cover__subs-link, .c-cover__subs-link:hover, .c-mega-nav__link--sub {
			color: @txt-colour;
		}
		
		.l-mega {
			background-color: @bg-colour;
		}
	}
	
	@media(min-width: 48rem) {
		.c-columnists::after, .c-columnists::before {
			color: @txt-colour;
        	background-color: @bg-colour;
		}
	}
	
	//layer 0 borders
    .is-search-expandable [data-st-search-form] [type="text"] {
        border-color: @border-col;
		border-width: @border-width;
    }
    
    .c-trending__item + .c-trending__item, .c-editors-picks__item + .c-editors-picks__item, .c-latest-list__line {
        border-top-width: @border-width;
		border-top-color: @border-col;
    }
	
	.c-picture__caption, .c-testimonial__header {
		border-bottom-width: @border-width;
		border-bottom-color: @border-col;
	}
	
	.l-header__block--sticky-link {
		border-left-width: @border-width;
		border-left-color: @border-col;
	}
	
	.l-header__toggle--sticky, .l-header__branding--sticky {
		border-right-width: @border-width;
		border-right-color: @border-col;
	}
    
    @media(min-width: 60rem) {
        .is-search-expandable [data-st-search-form] .autocomplete {
            border-color: @border-col;
			border-width: @border-width;
        }
		
		.l-header__nav::after, .l-header__nav::before {
			background-color: @border-col;
			height: @border-width;
		}
    }
	
	@media(min-width: 78.75rem) {
		.c-cards-grid__item:not(:nth-of-type(3n+1)) {
			border-left-color: @border-col;
			border-left-width: @border-width;
		}
	}
	
	//layer 0 shadows
	.c-mega-nav__submenu {
		box-shadow: none;
	}
	
	.c-btn--pagination {
		box-shadow: 0 .125rem .25rem 0 @darkest;
	}
    
	//layer 1
    .is-search-expandable [data-st-search-form] .search-form, .c-reviews-card__wrap, .c-author__meta-link {
    	color: @txt-colour;
    }
	
    [data-st-search-form] .search-form, .c-trending--hero .c-trending__list {
        background-color: @bg-layer1;
    }
	
	.c-form__input, .c-trending--sidebar .c-trending__heading, .is-header-sticky .is-search-expandable [data-st-search-form] [type="text"], .c-card--domino .c-card__wrap, .c-card--domino .c-card__header, .c-reviews, .widget__rs-culture-council .c-cards-grid, .c-author, .c-card--featured .c-card__wrap, .c-crop, .c-card--overlay .c-card__wrap, .c-card--picks .c-card__wrap {
		color: @txt-colour;
        background-color: @bg-layer1;
	}
	
	@media(min-width: 48rem) {
		.c-coverage {
			background-color: @bg-layer1;
		}
	}
	
	@media(min-width: 60rem) {
		[data-st-search-form] [type="text"], [data-st-search-form] .search-form, .c-card--featured-home .c-card__wrap, .c-card--featured-home .c-card__wrap::after, .c-card--domino .c-card__wrap::after, .c-card--featured .c-card__wrap::after {
			color: @txt-colour;
        	background-color: @bg-layer1;
		}
	}
	
	//layer 1 borders
	.c-author {
		border-top-color: @bg-layer1;
		border-top-width: @border-width;
	}
	
	.is-search-expandable [data-st-search-form] .ac-result, .c-author__post {
		border-top-color: @border-col;
		border-top-width: @border-width;
	}
	
	.is-search-expandable [data-st-search-form] .ac-result:focus, .is-search-expandable [data-st-search-form] .ac-result:hover {
		border-left-width: @border-width;
		border-left-color: @border-col;
	}
	
	//layer 1 shadows
	.c-author, .c-card--overlay .c-card__wrap {
		box-shadow: 0 .125rem .25rem @darkest;
	}
	
	.c-card--featured .c-card__wrap, .c-card--domino .c-card__wrap {
		box-shadow: 0 .125rem .75rem 0 @darkest;
	}
	
	@media(min-width: 60rem) {
		.c-card--domino .c-card__wrap::before, .c-card--featured .c-card__wrap::before {
			box-shadow: 0 1.25rem 1.5rem 0 @darkest;
		}
	}
	
	.c-trending--hero .c-trending__list, .l-blog__item .c-editors-picks {
		box-shadow: 0 .125rem .8125rem 0 @darkest;
	}
	
	[data-st-search-form] [type="text"] {
		box-shadow: inset 0 .1875rem .375rem 0 @bg-colour;
	}
	
	//layer 2
	.c-tooltip--bubble {
		background-color: @bg-layer2;
	}
	
	.widget__rs-culture-council .c-tooltip--bubble {
		color: @txt-colour;
	}
	
	//layer 2 shadows
	.c-tooltip--bubble {
		box-shadow: 1px -1px .3125rem @bg-colour;
	}
	
	//layer 2 borders
	.c-tooltip--bubble::after {
		border-bottom-color: @bg-layer2;
	}
	
	.c-tooltip--bubble {
		border: none;
	}
    
	//grey text
    .is-search-expandable [data-st-search-form] .ac_title, .l-article-header__block--time, .l-header__read-next-label, .c-picture__source, .c-tags__item, .c-pmc-footer__legal, .c-section-header__powerby, .c-section-header__msg, .widget__rs-culture-council .c-tooltip, .c-author__twitter {
        color: @txt-faded;
    }
	
	//emphasis within grey text
	.is-search-expandable [data-st-search-form] .ac_title em {
		color: @txt-colour;
	}
	
	//dark text
	.l-archive-top__heading, .c-trending__heading, .c-latest-list__heading, .c-features__tag, .l-section-top .c-page-nav__link, .c-btn {
		color: @bg-colour;
	}
	
	.c-editors-picks__heading {
		color: @bg-colour;
		background-color: @txt-colour;
	}
	
	@media(min-width: 48rem) {
		.l-section-top__heading {
			color: @bg-colour;
		}
	}
	
	
	//logos
	svg[id*="logo-black"] {
		filter: invert(100%);
	}
    
    //doesn't appear to work
    input::placeholder, textarea::placeholder {
        color: @txt-faded !important;
        opacity: 1;
    }
    
	//hovers
    .l-header__link:focus, .l-header__link:hover, .c-trending__link:focus, .c-trending__link:hover, .c-trending__link:hover .c-trending__caption, .c-card--brand .c-card__heading:focus, .c-card--brand .c-card__heading:hover, .c-card--featured-home .c-card__heading:focus, .c-card--featured-home .c-card__heading:hover, .c-card--grid .c-card__heading:focus, .c-card--grid .c-card__heading:hover, .c-reviews-card__headline:focus, .c-reviews-card__headline:hover, .c-the-list:focus, .c-the-list:hover {
        color: @txt-faded;
    }
	
	.c-btn--twitter:focus, .c-btn--twitter:hover {
		background-color: @bg-colour;
	}
	
	.is-search-expandable [data-st-search-form] .ac-result:focus, .is-search-expandable [data-st-search-form] .ac-result:hover {
		background-color: @bg-layer1;
	}
	
	//gradient
	.c-features {
		background-image: linear-gradient(to right, @bg-colour, @bg-layer1);
	}
    
}